$textColor: white;
$linkColor:#ff6347;
$colLinks:$linkColor;
$headingColor:darken(white,20%);
$headingColorLight: lighten($headingColor, 20%);
$footnoteColor: lighten($textColor, 15%);
$borderColor:#DFDFDF;