_theme_packages/*
github.php
gitpull.sh
*.bak
Thumbs.db
.DS_Store
!.gitkeep
_site/
.rbenv-version
.rvmrc
.sass-cache/
bower_components/

# Created by https://www.gitignore.io/api/jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata


# End of https://www.gitignore.io/api/jekyll
