# der ganz normale Redirect von https://wiki.uberspace.de/webserver:security#https_erzwingen
RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
ErrorDocument 404 /404.html
