---
layout: standard
title: greetings earthling
---
	{% include master-header.html %}
<header>
<div class="span10 offset1">
  <div class="hero-unit animated fadeIn">
     <h1>Blog Posts</h1>
     <section>
       <div class="row">
         <div class="span10 offset1">
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

         </div>
       </div>
     </section>
  </div>
</div>
</header>
<!-- <section>
  <div class="row">
    <div class="span6 offset4">
      <div id="showreel">
        <a href="http://vimeo.com/56188646" id="showreellink" rel="prettyPhoto[grouped]" title="">
          <img src="assets/images/thumbnails/showreel.png" alt="" width="100%" />
        </a>
      </div>

    </div>
  </div>
</section> -->
<!-- <section>
	<div class="row">
		<div class="span5 offset1">
			<h2 class="sections">Motion Graphics</h2>

			<p>{% include motiongraphics.html %}</p>
		</div> end MG
		<div class="span5">
			<h2 class="sections">Coding Graphics</h2>

			<p>
				{% include programming.html %}
			</p>
		</div>
	</div>
</section> -->
<!-- <section>
		<div class="row">
			<div class="span10 offset1">
				<p id="vita">
      Are you in a hurry? Grab the vita <a href="/vita_de.pdf">(DE)</a> or <a href="/vita_en.pdf">(EN)</a>.
        </p>
			</div>
		</div>
</section> -->
{% include master-footer.html %}
<!-- 1. hook 25. Januar 2013 -->