---
layout: project
title: Coding Graphics

altattrlist0:
- locationsteaser
- aemapteaser
- tmktteaser

altattrlist1:
- swissdteaser
- typoteaser
- incom2lteaser

linklist0:
- /locations.html
- /aemap.html
- /tangiblemaps.html
linklist1:
- /swissd.html
- /typography-and-automation.html
- /incom-org-2-layout.html

titlelist0:
- Locations
- AEMap
- Tangible Maps
titlelist1:
- Swissd
- Typography and Automation
- Incom.org 2 Layout

tilelist0:
- locations-splash.jpg
- aemap-splash.jpg
- tmkt-splash.jpg
tilelist1:
- swissd-splash.jpg
- autotypo-splash.jpg
- incomorg2layout-splash.jpg

miscalt:
- misc
- voronoi
- objexport
- connectednodes
- wihihihiggle
- batchfnr

misclinks:
- /misc.html
- http://fabiantheblind.github.io/Illustrator-Javascript-Voronoi/
- http://aescripts.com/obj-vertex-export/
- /connected-nodes.html
- http://fabiantheblind.github.io/wihihihiggle/
- https://github.com/fabiantheblind/batch-find-and-replace

miscimgs:
- misc-small-splash.jpg
- voronoi-splash.jpg
- obj-splash.jpg
- nodes-splash.jpg
- whihihiggle-splash.jpg
- bfnr-splash.jpg
misctitle:
- This Website
- AI Voronoi
- OBJ Vertex Export
- Connected Nodes
- wihihihiggle.jsx
- Batch FC Queries

bigimagelist:
- monoline-big-1280x500.jpg

bigimgpath : /assets/images/big/
tileimgpath : /assets/images/project-tile/
teaserimgpath: /assets/images/project-teaser/
---

<header>
  <div class="hero-unit">
{% capture codesc %}
#Hello,  
you reached my coding page.  
Before you dive into the projects, let me explain what programming means to me and why I spend so much time with it. Using [Processing](http://processing.org) I learned that the computers we use have more power I could ever imagine. All these repetitive tasks I do day to day could be done by the machine if I know how to talk to it. With this kind of "laziness" in mind I started automating InDesign layouts and developing tools for After Effects to support my workflows. All that lead me to writing my [B.A. Thesis](http://fabiantheblind.github.io/MT4D/) about automation and publishing scripts on [aescripts.com](http://aescripts.com/authors/f-l/fabiantheblind/) and [github.com](https://github.com/fabiantheblind) I'm not a "programmer". I'm an autodidact coder that comes from the design and I want to keep it that way. But enough of that chit chat.  
See my favorite programming projects below.  
{% endcapture %}
{{ codesc | markdownify }}
</div>
</header>
<section>
<hr>
<div class="row">
  <div class="span12">
    <h2>Geographic Visualization</h2>
  </div>
</div>

{% assign spanclass = "span4" %}
{% assign tileclass = "tile" %}
{% assign addtitle = true %}
{% assign addlink = true %}
{% assign path = page.teaserimgpath %}
{% assign maxnum = 3 %}
{% assign list = page.tilelist0 %}
{% assign titles = page.titlelist0 %}
{% assign links = page.linklist0 %}
{% assign altattrlist = page.altattrlist0 %}

{% assign off = 0 %}
{% include image-tiles.html %}


<div class="row">
<div class="span10 offset1">
<p>While studying at the FH Potsdam I took interest in plotting data onto interactive maps. For a project in the field of "Design of Software Interfaces" I have been part of a team that developed a concept and wrote a mockup for a disaster management software for the <a href="http://portal.mace-project.eu/maeve/">maeve table</a>. This was the starting point for understanding maps and location data. Based on this knowledge I developed Locations.jsx and AEMap.jsx for Adobe After Effects that allow the creation animations with location based data.</p>
</div>
</div>
<hr>

<div class="row">
  <div class="span12">
<h2>Programming Typography</h2>
  </div>
</div>

{% assign imgpath = "/assets/images/big/" %}
{% assign imgname = page.bigimagelist[0] %}
{% assign alttext = "monoline-big" %}
{% assign thelink = "/monoline-text.html" %}
{% assign thetitle = "Hersheys Monoline Text" %}
{% assign addlink = true %}
{% assign addtitle = true %}
{% include big-image.html %}

<!-- {% assign spanclass = "span4" %} -->
<!-- {% assign tileclass = "tile" %} -->
<!-- {% assign addtitle = true %} -->
<!-- {% assign addlink = true %} -->
<!-- {% assign path = page.teaserimgpath %} -->
{% assign off = 0 %}
<!-- {% assign maxnum = 3 %} -->
{% assign list = page.tilelist1 %}
{% assign titles = page.titlelist1 %}
{% assign links = page.linklist1 %}
{% assign altattrlist = page.altattrlist1 %}

{% include image-tiles.html %}

<div class="row">
<div class="span10 offset1">
<p>
  During my studies I became a member of the group <a href="http://www.grenzfarben.de/">Grenzfarben</a>. Together with them I produced, since 2008, several product catalogues for <a href="http://www.justmusic.de/">JustMusic</a> and <a href="http://www.sound-service.eu/">Sound Service</a>. We started out working in Quark Express and had to format every paragraph of these catalogues, that have more than 300 pages and 5000 to 7000 products, by hand. When we made the switch to InDesign I was tired of clicking. So I tried to automate the process with JavaScript/ExtendScript. It worked. Now we have a semiautomatic process that gives us more time for design and I never stopped writing scripts. Below you will find Swissd.jsx and Monoline Text.jsx for After Effects together with a workshop I gave at the FHPotsdam about Typography and Automation and a semiautomatic process that imports my project data from Incom.org into a Layout.
</p>
</div>
</div>
<hr>
<div class="row">
<div class="span10 offset1">
{% capture miscdiscript %}

##mis·cel·la·ne·ous  
/ˌmisəˈlānēəs/
Adjective  
1. (of items or people gathered or considered together) Of various types or from different sources.  
2. (of a collection or group) Composed of members or elements of different kinds: "a miscellaneous collection".  
  
Wow. You are still here. This chapter will lead you to various projects on this site and around the web. Feel free to contact me about anything.  
{% endcapture %}
{{ miscdiscript | markdownify }}
</div>
</div>

{% assign spanclass = "span2" %}
{% assign tileclass = "tile" %}
{% assign addtitle = true %}
{% assign addlink = true %}
{% assign path = page.teaserimgpath %}
{% assign maxnum = 6 %}
{% assign list = page.miscimgs %}
{% assign titles = page.misctitle %}
{% assign links = page.misclinks %}
{% assign altattrlist = page.miscalt %}

{% assign off = 0 %}
{% include image-tiles.html %}

<!-- {% include miscellaneous.html %} -->
</section>
{% comment %}

<section>
<h3>AE</h3>
<ul>
<li><a href="http://fabiantheblind.github.com/AEMap">AEMap.jsx</a> creating maps in After Effects</li>
<li><a href="http://aescripts.com/locations/">Locations.jsx</a> create 2D and 3D geo located markers on an equirectangular map or projected onto a sphere</li>
<li><a href="http://aescripts.com/obj-vertex-export/">OBJ Vertex Export</a> Export wavefront OBJ vertex point clouds from After Effects layer positions.</li>
<li><a href="http://aescripts.com/swissd/">Swissd</a> is an After Effects script for creating fixed width text layouts</li>
<li><a href="http://fabiantheblind.github.com/The-Geo-Beast">The-Geo-Beast.jsx</a> creating georeferenced graphics in After Effects (not yet released)</li>
<li><a href="http://fabiantheblind.github.com/wihihihiggle/">wihihihiggle.jsx</a> quickly apply wiggle to selected properties</li>
<li><a href="http://aescripts.com/timeremap-source/">Timeremap Source</a> keeps your compositions clean by stacking and precomposing multiple layers</li>


</ul>
<h3>ID</h3>

<ul>
  <li><a href="http://fabiantheblind.github.com/Typography-And-Automation/">Typography &amp; Automation</a> a workshop @ University of Applied Siences Potsdam ;-⟩</li>
  <li><a href="https://github.com/fabiantheblind/auto-typo-adbe-id/wiki">Auto Typo Wiki</a> a wiki on writing JavaScript for InDesign</li>
  <li><a href="https://github.com/fabiantheblind/batch-find-and-replace">Batch Find And Replace</a> a tiny script that batch processes find change queries</li>
  <li> <a href="http://fabiantheblind.github.com/theGrids/">theGrids</a> Some scripts for a InDesign scripting workshop I gave @ FHP</li>
<li> <a href="http://fabiantheblind.github.com/TypoStandard/">Typo Standard</a> Some scripts for a InDesign scripting workshop I gave @ FHP </li>
<li> <a href="http://fabiantheblind.github.com/NextTypoStandard/">Next Typo Standard</a> Some scripts for a InDesign scripting workshop I gave @ FHP   </li>
<li> <a href="http://fabiantheblind.github.com/IDJSMap/">IDJSMap</a> Creat a equirectangular projected map in ID CS4+</li>
<li><a href="http://fabiantheblind.github.com/incomOrg2Layout/">IncomOrg2Layout</a> This is some code that generates indesign documents from json data taken from <a href="http://incom.org/">incom.org</a></li>
<li><a href="http://fabiantheblind.github.com/IDSnippets/">IDSnippets</a> a loos collection of InDesign Scripts.</li>
<li><a href="http://fabiantheblind.github.com/mpolauncherJSRes/">MPO Launcher Scripts</a> the scripts used in the ID CS 4 plugin <a href="http://fabiantheblind.github.com/mpolauncher/">MPO Launcher</a></li>
</ul>
<h3>AI</h3>
  <ul>
  <li> <a href="http://fabiantheblind.github.com/Illustrator-Javascript-Voronoi/">Illustrator Voronoi</a> An Adobe Illustrator Javascript implementation of gorhills implementation of Fortune's algorithm to compute Voronoi cells</li>
  <li><a href="http://fabiantheblind.github.com/AI-connectedNodes">Connected Nodes in Illustrator</a>  create points and connect them based on their distance</li>
  </ul>

  <h3>Sublime Text</h3>
  <ul>
    <li><a href="http://fabiantheblind.github.com/sublime-open-url/">Sublime-open-url</a> a tiny plugin that opens a selected url in a new browser window</li>
  </ul>
<br />
<h2 >Programms</h2>
<br />
<h3>Java and Processing</h3>
<ul><li><a href="http://fabiantheblind.github.com/TMN_UE_Laerm/">UElaerm</a> A MS surface multitouch project for exploring the effect of noise in urban layers. The code is at <a href="http://code.google.com/p/tmn-ue-learm/">google code</a></li>
<li><a href="http://code.google.com/p/tm-kt/">Tangible Maps</a> an outline for desaster managment system on multitouch tables. Developed at the <a href="http://portal.mace-project.eu/maeve/">Maeve table</a></li>
<li><a href="http://fabiantheblind.github.com/connected-nodes">Connected Nodes processing</a> create points and connect them based on their distance</li>
</ul>
<br />
<h3>C++</h3>
<ul><li><a href="http://fabiantheblind.github.com/mpolauncher/">MPO Launcher</a> an InDesign CS4 Plugin for running a defined set of scripts</li></ul>
</section>
{% endcomment %}
