---
layout: project
title: Motiongraphics

videolistmisc:
- 48392006
- 46296415
- 37599237
- 36793737
- 45149847
- 52081478
tilelistmisc:
- kandinsky-splash.jpg
- fakephysik-splash.jpg
- mlo-splash.jpg
- longrun-splash.jpg
- thebeast-splash.jpg
- arctic-splash.jpg
titlelistmisc:
- Kandinsky auf Schwarz
- E3D &amp; Newton
- Mellow Mark ist tot
- FHP Colloquium
- The Geo Beast
- Klimahaus Bremerhaven
subtextmisc:
- for the mattrunks contest n°8 <a href="http://mattrunks.com/en/contests/8/results">over here</a>
- This is faked 3D physics in After Effects using Newtons 2D engine and combining it with Element 3D.
- A music video for <a href="http://www.mellow-mark.de/">Mellow Mark</a>
- A quick and a bit dirty stop-motion animation made with Dragonframe and After Effects that summons up my colloquium presentation at the FHP. It was used as icebreaker before the presentation.
- A experimental script for After Effects. I tried to build one tool that could read all type of geojson data. It works but is to complex. I decided to split out different functions to make smaller tools like <a href="locations.html">Locations.jsx</a>. You can still download the script and read the documentation <a href="http://fabiantheblind.github.io/The-Geo-Beast/">over here</a> 
- A 2×HDV projection in the <a href="http://klimahaus-bremerhaven.de/en/">Klimahaus Bremerhaven 8° Ost</a>. I did lots of rotoscoping and painting on really bad footage from the bear and the seal.  
linklistmisc:
- /
- /
- /
- /
- /
- /
- /
altattrlistmisc:
- misc alt attr
- misc alt attr
- misc alt attr
- misc alt attr
- misc alt attr
- misc alt attr
- misc alt attr

videolist1:
- 54717636
- 39960358
- 64222693
- 53158182
tilelist1:
- locations-splash.jpg
- aemap-splash.jpg
- monolinetext-splash.jpg
- swissd-splash.jpg
titlelist1:
- Locations.jsx 4 AE
- AEMap.jsx 4 AE
- Monoline Text.jsx 4 AE
- swissd.jsx 4 AE
linklist1:
- /
- /
- /
- /

altattrlist1:
- locations
- aemap
- monolinetext
- swissd

subtext1:
- Geo referenced animations. Just watch the video or read more <a href="/locations.html">over here</a>.
- Real map data. Just watch the video or read more <a href="/aemap.html">over here</a>.
- Single stroke text. Just watch the video or read more <a href="/monoline-text.html">over here</a>.
- Fixed width text layouts. Just watch the video or read more <a href="/swissd.html">over here</a>.

videolist0:
- 51340544
- 51247226
- 52078236
tilelist0:
- welios-splash.jpg
- paarung-splash.jpg
- hoehle-splash.jpg
titlelist0:
- Schülerfilm Welios
- Paarungsverhalten der Tiere
- Die Evolution der Sprache
linklist0:
- /
- /
- /
- /
altattrlist0:
- schuelerwelios
- paarung
- evoofspeach

subtext0:
- <a href="http://www.wortreich-badhersfeld.de/">"wortreich in Bad Hersfeld"</a> <br> Animation &mdash; Fabian Morón Zirfas <br> Illustration &amp; AD &mdash; Sebastian Matthäus
- <a href="http://www.welios.at/">"Welios®Energie.Erlebnis.Haus."</a><br>Animation &mdash; Fabian Morón Zirfas <br> Illustration &amp; AD &mdash; Sebastian Matthäus
- <a href="http://www.wortreich-badhersfeld.de/">"wortreich in Bad Hersfeld"</a> <br>Character &mdash; Sebastian Matthäus <br> Modelling &mdash; Elias Frobel, Sebastian Matthäus <br> Animation &mdash; Fabian Morón Zirfas <br> Cut  Additional Animation &mdash; Sebastian Matthäus <br> Script &mdash; Ansgar Ahlers (in Coop. w. <a href="http://www.p-t.de/">P-T.de</a>) <br> Sounds &mdash; Robert Fischer <a href="http://9to5productions.de">9to5productions.de</a><br> Animated using a custom <a href="https://github.com/fabiantheblind/rigPuppet">character rig</a> I developed. This was before I knew duik tools existed.

---

<!-- these are liquid globals -->

{% assign addtitle = true %}
{% assign addlink = true %}
{% assign path = site.teaserimgpath %}
{% assign off = 0 %}
{% assign addsubtext = true %}
{% assign subtextclass = "videosubtext" %}

<!-- end liquid globals -->

<header>
  <div class="hero-unit">
<!-- NEEDS TO BE UNINTENDED -->
{% capture modesc %}
#Hello,  
you reached my motion graphics overview.
As I mentioned before, already as a child I loved cartoons and animations. Around 2008 I started working with forseesense](http://forseesense.com/) on several projects. While working on these projects I always came across problems that had to be solved by scripting. Most of the time these scripts are tiny helper tools that don't make sense to others but some of them are more. They turned into my open source scripts provided on [aescripts.com](http://aescripts.com/). For these scripts I created demos that you can consider advertising for what people can do with them. Besides these videos I created several characters and infographic animations for exhibitions/science centers.
See my favorite moving pictures below.

<!-- {% include motion-description.md %} -->
{% endcapture %}
{{ modesc | markdownify }}
</div>
</header>
<section>

<hr>
<div class="row">
  <div class="span12">
    <h2>Script Demos</h2>
  </div>
</div>
<div class="row">
<div class="span10 offset1">
{% capture moscridesc %}
These videos are the demos I created for my [scripting projects](/codinggraphics.html). The aim was to show what you can do with my tools. With some eyecandy but not to much so the recipient does not get distracted. Some kind of "bare bones" animation.  
{% endcapture %}
{{ moscridesc | markdownify }}

</div>
</div>

{% assign spanclass = "span3" %}
{% assign tileclass = "tile" %}
{% assign maxnum = 4 %}
{% assign list = page.videolist1 %}
{% assign titles = page.titlelist1 %}
{% assign tiles = page.tilelist1 %}
{% assign links = page.linklist1 %}
{% assign altattrlist = page.altattrlist1 %}
{% assign subtext = page.subtext1 %}
{% include video-tiles.html %}


<hr>
</section>
<section>
<div class="row">
  <div class="span12">
    <h2>Character Animations</h2>
  </div>
</div>

<div class="row">
<div class="span10 offset1">
{% capture mochardesc %}
These three following animations are works I did with [forseesense](http://forseesense.com/) for customer like [Petri &amp; Tiemann GmbH](http://www.p-t.de/), [wortreich in Bad Hersfeld gGmbH](http://www.wortreich-badhersfeld.de/), [m.o.l.i.t.o.r. GmbH](http://www.molitor-berlin.de/), the [Klimahaus® "Bremerhaven 8° Ost" Betriebsgesellschaft mbH](http://klimahaus-bremerhaven.de/en/), [OÖ Science-Center Wels Errichtungs-GmbH](http://www.welios.at/en/startseite.html) the [experimenta - Science Center der Region Heilbronn-Franken gGmbH](http://www.experimenta-heilbronn.de/) and [others](http://forseesense.com/?categoryID=70). I did the animation parts using most of the time the ingenious [Duik Tools](http://duduf.net/?page_id=165) by [DuDuF](http://duduf.net/?lang=en).
{% endcapture %}
{{ mochardesc | markdownify }}

</div>
</div>
{% assign spanclass = "span4" %}
{% assign tileclass = "tile" %}

{% assign maxnum = 3 %}
{% assign list = page.videolist0 %}
{% assign titles = page.titlelist0 %}
{% assign tiles = page.tilelist0 %}
{% assign links = page.linklist0 %}
{% assign altattrlist = page.altattrlist0 %}
{% assign subtext = page.subtext0 %}
{% include video-tiles.html %}

<hr>
</section>
<section>
<div class="row">
<div class="span10 offset1">
{% capture miscdiscript %}
{% include misc-text.md %}
{% endcapture %}
{{ miscdiscript | markdownify }}
</div>
</div>

{% assign addsubtext = true %}
{% assign spanclass = "span2" %}
{% assign subtextclass = "videosubtextmisc" %}
{% assign tileclass = "tile" %}
{% assign maxnum = 6 %}
{% assign list = page.videolistmisc %}
{% assign titles = page.titlelistmisc %}
{% assign tiles = page.tilelistmisc %}
{% assign links = page.linklistmisc %}
{% assign altattrlist = page.altattrlistmisc %}
{% assign subtext = page.subtextmisc %}
{% include video-tiles.html %}

</section>


