@charset "UTF-8";
/* CSS Document
* <!-- Build by fabiantheblind http://the-moron.net
* how to Center a video in the browserwindow using CSS and Javascript
* build on this example: http://www.alistapart.com/d/footers/footer_variation1.html
* -->
*/


body {
	margin: 0;
	padding: 0;
	cursor: default;/*  this  is just styling*/
	color: #DEDEDE;/*  this  is just styling*/
	background-color:#000;/*  this  is just styling*/
	text-align: center; /* Takes care of horizontal alignment in Internet Explorer */
	
}

object{
	position: relative; /* Needed for Safari */
	margin: auto; /* Takes care of horizontal alignment in standards compliant browsers */
	width: 800;
	height: 450;
	text-align: center; /* Takes care of horizontal alignment in Internet Explorer */


}

/*  this  is just styling*/
h1 {
   /* margin-top:192px; */
font-family: serif;
font-weight: bold;
font-size: 7em;
line-height: 20px; 
text-decoration: none;
text-indent: 50px;
text-align: left;
cursor: default;
color: #DEDEDE;
text-shadow: #203E38 2px 2px 4px; 
   /*     margin-bottom:-0.051em; 
border-style:none/hidden/dotted/dashed/solid/double/groove/ridge/inset/outset;*/

}

h2{
font-size: 1.7em;
font-style: normal;
line-height: 1.1em;
text-align: left;
font-weight: normal;
font-variant: normal;
text-indent: 50px;
color: #DEDEDE;
cursor: default;
/*background-color: #4A4A4A;*/
cursor: default;
}

#foot{
	text-align: left;
	font-size: 0.9em;
	text-indent: 40px;
}
a:link {
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	color: #737373;
	
	
}
a:visited {
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	color: #737373;
	
}
a:hover {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #2B2B2B;
	text-decoration: none;
}
a:active {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	color: #737373;
}
