---
layout: newdefault
title: Swissd 4 Adobe After Effects
videotitles:
- Demo Video
- Quickstart Guide
- Full Tutorial
videolist:
- 53158182
- 53499505
- 53857694
tilelist:
- swissd-tile-01-500x500.jpg
- swissd-tile-02-500x500.jpg
- swissd-tile-03-500x500.jpg
- swissd-tile-04-500x500.jpg
- swissd-tile-05-500x500.jpg
- swissd-tile-06-500x500.jpg
- swissd-tile-07-500x500.jpg
- swissd-tile-08-500x500.jpg
- swissd-tile-09-500x500.jpg
- swissd-tile-10-500x500.jpg
- swissd-tile-11-500x500.jpg
- swissd-tile-12-500x500.jpg
bigimgpath : /assets/images/big/
tileimgpath : /assets/images/project-tile/
---


<div class="hero-unit">
<h1>swissd.jsx </h1>
<h2>for After Effects</h2>
  <p>
    Swissd is an After Effects script for creating fixed width text layouts.  
  </p>
    <iframe class="video" src="http://player.vimeo.com/video/{{ page.videolist[0] }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
{% capture mddisloc %}
During a workshop I gave called ["Typography And Automation"]() Julian a.k.a. [@natael](https://github.com/natael) came up with the idea of creating fixed width layouts in InDesign. His result, also called [swissd](http://fabiantheblind.github.io/Typography-And-Automation/natael.html), was so interesting I took it on to create something similar for After Effects. I did not port his code. I wrote my own.  
 It is published on [aescipts.com](http://aescripts.com/swissd) and open source under MIT license.  
{% endcapture %}
{{ mddisloc | markdownify }}
</div> <!-- close hero unit -->

{% assign addlink = true %}
{% assign spanclass = "span3" %}
{% assign tileclass = "tile" %}
{% assign path = page.tileimgpath %}
{% assign off = 0 %}
{% assign maxnum = 12 %}
{% assign list = page.tilelist %}
{% include image-tiles.html %}


{% if page.videolist != null %}
<div class="row">
{% for item in page.videolist offset:1 | array_to_sentence_string %}
  <div class="span6">
  <h3>{{ page.videotitles[forloop.index] }}</h3>
    <iframe class="video" src="http://player.vimeo.com/video/{{ item }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"  width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
{% endfor %}
</div>
{% endif %}

