---
layout: newdefault
title: Workshop Typography And Automation
videotitles:
- Demo Video
- Quickstart Guide
videolist:
- 64222693
- 63958573
tilelist:
- autotypo-tile-00-500x500.jpg
- autotypo-tile-01-500x500.jpg
- autotypo-tile-02-500x500.jpg
- autotypo-tile-03-500x500.jpg
- autotypo-tile-04-500x500.jpg
- autotypo-tile-05-500x500.jpg
- autotypo-tile-06-500x500.jpg
- autotypo-tile-07-500x500.jpg
- autotypo-tile-08-500x500.jpg
- autotypo-tile-10-500x500.jpg
- autotypo-tile-11-500x500.jpg
bigimagelist:
- autotypo-big-01-1280x500.jpg
bigimgpath : /assets/images/big/
tileimgpath : /assets/images/project-tile/
---



<div class="hero-unit">
<h1>Typography And Automation</h1>
<h2>was a FHP Workshop I gave about writing JavaScript for InDesign. 
</h2>
  <p>
  </p>
<!--     <iframe class="video" src="http://player.vimeo.com/video/{{ page.videodemo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
{% capture mddistypo %}
The aim was to learn the basics of scripting to use them in design processes. It was amazing to see what the students came up with within 2 weeks. From their questions I combined a [wiki about extendscript on github.com](https://github.com/fabiantheblind/extendscript/wiki). Below you see some of the results created by the scripts from the wiki.  
If you want to see the full project. It is published on [github.com](http://fabiantheblind.github.io/Typography-And-Automation/) and under several open source licenses.  
{% endcapture %}
{{ mddistypo | markdownify }}
</div>

{% assign imgpath = "/assets/images/big/" %}
{% assign imgname = page.bigimagelist[0] %}
{% assign alttext = "autotypo-big" %}
{% include big-image.html %}

{% assign list = page.tilelist %}
{% assign addlink = false %}
{% assign tileclass = "tile" %}
{% assign path = page.tileimgpath %}

{% assign off = 0 %}
{% assign maxnum = 4 %}
{% assign spanclass = "span3" %}
{% include image-tiles.html %}

{% assign off = 4 %}
{% assign maxnum = 3 %}
{% assign spanclass = "span4" %}
{% include image-tiles.html %}


{% assign off = 7 %}
{% assign maxnum = 5 %}
{% assign spanclass = "span3" %}
{% include image-tiles.html %}

