---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import BlogLayout from "../../layouts/post.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { title, pubDate, description, tags } = post.data;

const { Content } = await post.render();
---

<BlogLayout title={title} tags={tags}>
	<published-date>
		<span>Published on &ndash;</span>
		<time datetime={pubDate.toISOString()} class="post-date">
			{pubDate.toISOString().split("T")[0]}
		</time>
	</published-date>
	<tl-dr>
		{description && <p class="post-description">tl;dr &ndash; {description}</p>}
	</tl-dr>
	<hr />
	<Content />
</BlogLayout>

<style>
	published-date,
	tl-dr {
		font-style: italic;
	}
</style>
