---
import Layout from "../../layouts/standard.astro";
import { getCollection } from "astro:content";
const blog = await getCollection("blog");
function getExcerpt(text: string) {
	let excerpt = text.slice(0, 50);
	let lastIndex = excerpt.lastIndexOf(".");

	if (lastIndex !== -1) {
		return excerpt.slice(0, lastIndex + 1);
	} else {
		return excerpt;
	}
}
---

<Layout title="Hello Blog">
	<ul class="blog-list">
		{
			blog
				.filter((blogPostEntry) => blogPostEntry.data.published)
				.sort((a, b) => {
					const dateA = new Date(a.data.pubDate);
					const dateB = new Date(b.data.pubDate);
					if (dateA < dateB) return 1;
					if (dateA > dateB) return -1;
					return 0;
				})
				.map((blogPostEntry) => (
					<li class="blog-item">
						<div class="blog-item-required">
							<time
								datetime={blogPostEntry.data.pubDate.toISOString()}
								class="blog-date"
							>
								{blogPostEntry.data.pubDate.toISOString().split("T")[0]}
							</time>
							<a href={`/blog/${blogPostEntry.slug}`} class="blog-title">
								{blogPostEntry.data.title}
							</a>
						</div>
						{blogPostEntry.data.description && (
							<p class="blog-item-description">
								{blogPostEntry.data.description}
							</p>
						)}
					</li>
				))
		}
	</ul>
</Layout>

<style>
	.blog-list {
		list-style: none;
	}

	.blog-item {
		display: flex;
		align-items: baseline;
		flex-direction: column;
	}

	.blog-item-required {
		/*display: flex;*/
		align-items: baseline;
		position: relative;
	}

	.blog-item::before {
		content: none;
	}

	.blog-item-required::before {
		content: "> ";
		margin-left: -1rem;
		font-size: 0.8rem;
		position: relative;
		top: -0.1em;
		padding-right: 0.3rem;
	}

	.blog-date {
		flex-shrink: 0;
		margin-right: 0.5rem;

		text-decoration-thickness: 0.06em;
		text-underline-offset: 0.1em;
		text-decoration: underline;
	}

	.blog-title {
		flex-grow: 1;
		/* text-decoration: none; */
		/* color: inherit; */
	}

	.blog-title:hover {
		/* text-decoration: underline; */
	}
	.blog-item-description {
		margin: 0.2rem 0 1rem 0;
		color: var(--text-color-light);
		font-style: italic;
	}
</style>
