---
import Layout from "../../layouts/standard.astro";
import { getCollection } from "astro:content";
const blog = await getCollection("blog");
function getExcerpt(text: string) {
	let excerpt = text.slice(0, 50);
	let lastIndex = excerpt.lastIndexOf(".");

	if (lastIndex !== -1) {
		return excerpt.slice(0, lastIndex + 1);
	} else {
		return excerpt;
	}
}
---

<Layout title="Hello Blog">
	<ul class="blog-list">
		{
			blog
				.sort((a, b) => {
					const dateA = new Date(a.data.pubDate);
					const dateB = new Date(b.data.pubDate);
					if (dateA < dateB) return 1;
					if (dateA > dateB) return -1;
					return 0;
				})
				.map((blogPostEntry) => (
					<li class="blog-item">
						<time
							datetime={blogPostEntry.data.pubDate.toISOString()}
							class="blog-date"
						>
							{blogPostEntry.data.pubDate.toISOString().split("T")[0]}
						</time>
						<a href={`/blog/${blogPostEntry.slug}`} class="blog-title">
							{blogPostEntry.data.title}
						</a>
						{blogPostEntry.data.description && (
							<p>{blogPostEntry.data.description}</p>
						)}
					</li>
				))
		}
	</ul>
</Layout>

<style>
	.blog-list {
		list-style: none;
		padding: 0;
		font-family: monospace;
	}

	.blog-item {
		display: flex;
		align-items: baseline;
		margin-bottom: 0.5rem;
	}

	.blog-date {
		flex-shrink: 0;
		width: 6rem;
		margin-right: 1rem;
		font-weight: normal;
		color: #666;
	}

	.blog-title {
		flex-grow: 1;
		/* text-decoration: none; */
		/* color: inherit; */
	}

	.blog-title:hover {
		/* text-decoration: underline; */
	}
</style>
