---
layout: project
title: Locations
tags: [test1, TEST2 ]
videotitles:
- Demo Video
- Tutorial#1
- Tutorial#2
- Tutorial#2 Result
videolist:
- 54717636
- 54718822
- 56635698
- 56907935
imagelist:
- locations-big-07-1280x500.jpg
- locations-big-06-1280x500.jpg
- locations-big-05-1280x500.jpg
- locations-big-04-1280x500.jpg
- locations-big-1280x500.jpg
- locations-big-02-1280x500.jpg
- locations-big-03-1280x500.jpg
---


<div class="hero-unit">
<h1>Locations.jsx </h1>
<h2>for After Effects</h2>
  <p>
    creates 2D and 3D geo located markers on an equirectangular map or projected onto a sphere.
  </p>
    <iframe class="video" src="http://player.vimeo.com/video/54717636?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
{% capture mddisloc %}
This script was created and published in the end of 2012. While doing a motion graphics job for the city of [Bremerhaven](http://bremerhaven.de/) we had to display some cities that where close by on a 3D sphere. We could not just guess where these locations might be. It had to be accurate, like on a real map. Fortunately I already had written AEMap and some experiments creating geo marker in After Effects. The hardest part was parsing .csv datasets. After the job was done I took the time to write an user interface, record a tutorial and create a demo video for my script so other people could use it as well. It is published on [aescipts.com](http://aescripts.com/locations) and open source under MIT license.
{% endcapture %}
{{ mddisloc | markdownify }}
</div>

  {% if page.imagelist != null%}
<div class="row">
{% for item in page.imagelist | array_to_sentence_string %}
<div class="span12">
<div class="tile big">
  <!-- <a href="/assets/images/big/{{ item }}"> -->
  <img class="img-responsive"  src="/assets/images/big/{{ item }}" alt="locations-big">
  <!-- </a> -->
</div>
</div>
{% endfor %}
</div>
{% endif%}


{% if page.videolist != null %}
<div class="row">
{% for item in page.videolist offset:1 | array_to_sentence_string %}
  <div class="span4">
  <h3>{{ page.videotitles[forloop.index1] }}</h3>
    <iframe class="video" src="http://player.vimeo.com/video/{{ item }}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"  width="100%" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
{% endfor %}
</div>
{% endif %}

