<div class="row">
<div class="span10 offset1">
<h2>Geographic Visualization</h2>
<p>While studying at the FH Potsdam I took interest in plotting data onto interactive maps. For a project in the field of "Design of Software Interfaces" <a href="https://github.com/fx-lange?tab=activity">Felix Lange</a>, <a href="https://incom.org/profil/1301">Sabine Richter</a>, <a href="http://about.me/PDXIII">Peter Sekan</a> and I developed a concept and wrote a mockup for a desaster management software on the <a href="http://portal.mace-project.eu/maeve/">maeve table</a>. This was the starting point for understanding maps and location data. Based on this knowledge I developed Locations.jsx and AEMap.jsx for Adobe After Effects that allow the creation of location based data and developed with Peter Sekan UE Lärm. That started as a geographic project but became a  a data visualization.</p>
</div>
</div>
<div class="row">
  <div class="span12">
    <a href="/locations.html">
      <div class="big tile media"> 
    <img src="/assets/images/big/locations-big-1280x500.jpg"  alt="">
  </div>
    </a>
        <h5>Locations</h5>
  </div>
</div>

<div class="row">
  <div class="span4">
    <a href="/aemap.html">
<div class="tile">
  <img src="/assets/images/project-teaser/aemap-splash.jpg" alt="aemap-teaser">
    </div>
  </a>
        <h5>AEMap</h5>
  </div>
  <div class="span4">
    <a href="/tangiblemaps.html">
      <div class="tile"> 
    <img src="/assets/images/project-teaser/tmkt-splash.jpg"  alt=""></div>
    </a>
    <h5>Tangible Maps</h5>
  </div>
    <div class="span4">
    <a href="/uelaerm.html">
      <div class="tile"> 
    <img src="/assets/images/project-teaser/uelaerm-splash.jpg"  alt=""></div>
    </a>
    <h5>UE Lärm</h5>
  </div>
</div>