<div class="row">
  <div class="span12">
    <h2>Geographic Visualization</h2>
  </div>
</div>


<div class="row">
  <div class="span4">
        <h5>Locations</h5>
      <div class="big tile"> 
    <a href="/locations.html">
    <img class="insetlight" src="/assets/images/project-teaser/locations-splash.jpg"  alt="locations-teaser">
    </a>
  </div>
  </div>
  <div class="span4">
        <h5>AEMap</h5>
<div class="tile">
    <a href="/aemap.html">
  <img class="insetlight" src="/assets/images/project-teaser/aemap-splash.jpg" alt="aemap-teaser">
  </a>
    </div>
  </div>
  <div class="span4">
    <h5>Tangible Maps</h5>
      <div class="tile"> 
    <a href="/tangiblemaps.html">
    <img class="insetlight" src="/assets/images/project-teaser/tmkt-splash.jpg"  alt="tmkt">
    </a>
  </div>
  </div>
</div>

<div class="row">
<div class="span10 offset1">
<p>While studying at the FH Potsdam I took interest in plotting data onto interactive maps. For a project in the field of "Design of Software Interfaces" I have been part of a team that developed a concept and wrote a mockup for a desaster management software for the <a href="http://portal.mace-project.eu/maeve/">maeve table</a>. This was the starting point for understanding maps and location data. Based on this knowledge I developed Locations.jsx and AEMap.jsx for Adobe After Effects that allow the creation animations with location based data.</p>
</div>
</div>