  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{ page.title}}</title>
    <meta name="description" content="Website of Fabian Morón Zirfas">
    <meta name="author" content="Fabian Morón Zirfas">
    <link rel="alternate" title="JSON feed for fabianmoronzirfas.me" type="application/json" href="{{site.url}}/feed.json" />
    <link rel="alternate" type="application/atom+xml"
  title="ATOM feed for fabianmoronzirfas.me"
  href="{{site.url}}/atom.xml" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>