  <!-- Navigation -->
<div class="inner">
<nav id="menu">
        <a href="{{ site.baseurl }}" class="logo"></a>
        <input type="checkbox" id="nav" />
        <label for="nav"></label>
      <a href="#" id="menu-icon"></a>
      <ul id="menu-list">
        <li id="home" class="menu-item home"><a href="/">{% include icon-home.html %} Home</a></li>
        <li id="teaching" class="menu-item teaching"><a href="/teaching/">{% include icon-teach.html %} Teaching</a></li>
        <li id="work" class="menu-item work"><a href="/work/">{% include icon-work.html %} Work</a></li>
        <li id="projects" class="menu-item projects"><a href="/projects/">{% include icon-projects.html %} Projects</a></li>
        <li id="education" class="menu-item education"><a href="/education/">{% include icon-edu.html %} Education</a></li>
        <li id="personal" class="menu-item personal"><a href="/personal/">{% include icon-personal.html %} Personal</a></li>
        <li id="blog" class="menu-item blog"><a href="/blog/">{% include icon-personal.html %} Blog</a></li>

      </ul>
    </nav></div>
<!--
<noscript>
<style type="text/css">
#main{
  top:44px !important;
}
  #menu-list{
  position:fixed;
  top:0;
  left:0;
  background:white;
  z-index: 9999;
  width:100%;
  text-align: center;
  }
  #slide-menu, .menu-trigger{
    display: none !important;

  }
  nav > ul {
  text-align: center;
  }
  nav > ul > li {
       float: left;
    list-style:none;
    padding-left: 2em;
  }
</style>
    <nav id="menu-list">
      <ul>
        <li id="home" class="menu-item home"><a href="/">Home</a></li>
        <li id="projects" class="menu-item projects"><a href="/projects/">Projects</a></li>
        <li id="work" class="menu-item work"><a href="/work/">Work</a></li>
        <li id="teaching" class="menu-item teaching"><a href="/teaching/">Teaching</a></li>
        <li id="education" class="menu-item education"><a href="/education/">Education</a></li>
        <li id="private" class="menu-item private"><a href="/private/">Private</a></li>
        <li id="blog" class="menu-item blog"><a href="/blog/">Blog</a></li>
        <li id="seperator" class="menu-item seperator"><a href="/#">–</a></li>

      </ul>
    </nav>
    </noscript>
-->