<div class="row">
<div class="span10 offset1">
{% capture miscdiscript %}

##mis·cel·la·ne·ous  
/ˌmisəˈlānēəs/
Adjective  
1. (of items or people gathered or considered together) Of various types or from different sources.  
2. (of a collection or group) Composed of members or elements of different kinds: "a miscellaneous collection".  
  
Wow. You are still here. This chapter will lead you to various projects on this site and around the web. Feel free to contact me about anything.  
{% endcapture %}
{{ miscdiscript | markdownify }}
</div>
</div>

<div class="row">
  <div class="span2">
<div class="tile">
        <a href="/misc.html">
  <img src="/assets/images/project-teaser/misc-splash.jpg" alt="misc-teaser">
  </a>
    </div>
  </div>

  <div class="span2">
<div class="tile">
        <a href="/misc.html">
  <img src="/assets/images/project-teaser/misc-splash.jpg" alt="misc-teaser">
  </a>
    </div>
  </div>

  <div class="span2">
<div class="tile">
        <a href="/misc.html">
  <img src="/assets/images/project-teaser/misc-splash.jpg" alt="misc-teaser">
  </a>
    </div>
  </div>

  <div class="span2">
<div class="tile">
        <a href="/misc.html">
  <img src="/assets/images/project-teaser/misc-splash.jpg" alt="misc-teaser">
</a>
    </div>
  </div>

  <div class="span2">
<div class="tile">
        <a href="/misc.html">
  <img src="/assets/images/project-teaser/misc-splash.jpg" alt="misc-teaser">
</a>
    </div>
  </div>

    <div class="span2">
<div class="tile">
        <a href="/misc.html">
  <img src="/assets/images/project-teaser/misc-splash.jpg" alt="misc-teaser">
</a>
    </div>
  </div>

</div>