Since I was a child I dreamed of creating animations. I loved those saturday mornings infront of the television with hours and hours of watching cartoons. When I started studying at the FHP it was clear that a big focus would be creating animations. I tried always, sometimes to hard, to find a solution where I could use and improve my skills in that field. I'm not at the end of that learning process but after 8 years fiddeling with After Effecs I can say I have a solid knowledge in creating graphics in motion.

{% comment %}
<a href="/motiongraphics.html">So have a look at some of my favorite moving pictures.</a>  
{% endcomment %}
