I had my first programming expirience at the FHP with Flash and Quartz Composer. Both of them could not kindle my love for code. But them came Processing. After the first experiments I began to understand the power of programming. While working in layout jobs and after hours and hours of clicking away my life I decided to try what JavaScript can do with Adobe applications. It became the topic of my Bachelor Thesis and is a powerfull weapon against repetitive tasks.  
<a href="/coding.html">Have a look at my favorite programming projects.</a>  

