<!-- this is in three-video-tiles.html -->
{% if videolist != null %}
<div class="row">
{% for item in videolist limit:maxnum offset:off | array_to_sentence_string %}
<div class="{{ class }}">
<div class="tile">
  <!-- <a href="/assets/images/big/{{ item }}"> -->

  <a href="http://vimeo.com/{{ item }}" id="showreellink" rel="prettyPhoto[grouped]" title="">
          <img class="img-responsive"  src="assets/images/thumbnails/showreel.png" alt="" width="100%" />
        </a>

<!--   <img class="img-responsive"  src="/assets/images/project-tile/{{ item }}" alt="monoline tile"> -->
  <!-- </a> -->
</div>
</div>
{% endfor %}
</div>
{% endif%}
<!-- end three-tiles.html -->