<div class="row">
  <div class="span12">
<h2>Programming Typography</h2>
  </div>
</div>
<!-- <div class="row">
  <div class="span12">
        <h5>Monoline Text</h5>
<div class="tile big">
    <a href="/monoline-text.html">
  <img src="/assets/images/big/monoline-big-1280x500.jpg" alt="monoline-big">
  </a>
    </div>
</div>
</div> -->

<!-- <div class="row">
  <div class="span4">
        <h5>Swissd</h5>
      <div class="tile"> 
    <a href="/swissd.html">
    <img src="/assets/images/project-teaser/swissd-splash.jpg"  alt="swissd">
    </a>
  </div>
  </div>

  <div class="span4">
    <h5>Typography and Automation</h5>
      <div class="tile"> 
    <a href="/typography-and-automation.html">
    <img src="/assets/images/project-teaser/autotypo-splash.jpg"  alt="autotypo">
    </a>
  </div>
  </div>

    <div class="span4">
    <h5>Incom.org 2 Layout</h5>
      <div class="tile"> 
    <a href="/incom-org-2-layout.html">
    <img src="/assets/images/project-teaser/incomorg2layout-splash.jpg"  alt="incomorg">
    </a>
  </div>
  </div>
</div>  --><!-- close row -->
<!-- <div class="row"> -->
<!-- <div class="span10 offset1">
<p>
  During my studies I became a member of the group <a href="http://www.grenzfarben.de/">Grenzfarben</a>. Together with them I produced, since 2008, several product catalouges for <a href="http://www.justmusic.de/">JustMusic</a> and <a href="http://www.sound-service.eu/">Sound Service</a>. We started out working in Quark Express and had to format every paragraph of these catalouges, that have more than 300 pages and 5000 to 7000 products, by hand. When we made the switch to InDesign I was tired of clicking. So I tried to automate the process with JavaScript/ExtendScript. It worked. Now we have a semiautomatic process that gives us more time for design and I never stoped writing scripts. Below you will find Swissd.jsx and Monoline Text.jsx for After Effects together with a workshop I gave at the FHPotsdam about Typography and Automation and a semiautomatic process that imports my project data from Incom.org into a Layout.
</p>
</div>
</div> -->