  <div id="idl"><a href="http://internetdefenseleague.org" target="blanc"><img class="img-responsive"  src="http://internetdefenseleague.org/images/badges/final/shield_badge.png" alt="Member of The Internet Defense League" id="idl" /></a></div>

   <div class="connect" >
        <a href="https://pinboard.in/u:fabiantheblind"><img class="img-responsive"  class="connect" src="assets/images/pinboard.png"  /></a>  <span >&middot;</span>
        <a href="http://twitter.com/fabiantheblind"><img class="img-responsive"  class="connect" src="assets/images/twitter.png"  /></a>  <span >&middot;</span>
        <a href="http://vimeo.com/fabiantheblind"><img class="img-responsive"  class="connect" src="assets/images/vimeo.png" /></a>    <span >&middot;</span>
        <a href="http://www.flickr.com/photos/fabiantheblind/show/"><img class="img-responsive"  class="connect" src="assets/images/flickr.png"  /></a>  <span >&middot;</span>
  <!--       <a href="http://www.delicious.com/fabiantheblind">delicious</a> -->
        <a href="https://github.com/fabiantheblind"><img class="img-responsive"  class="connect" src="assets/images/github.png" /></a>  <span >&middot;</span>
        <a href="http://fabiantheblind.tumblr.com/"><img class="img-responsive"  class="connect" src="assets/images/tumblr.png"  /></a>  <span >&middot;</span>
              <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#101;&#108;&#108;&#111;&#64;&#102;&#97;&#98;&#105;&#97;&#110;&#116;&#104;&#101;&#98;&#108;&#105;&#110;&#100;&#46;&#105;&#110;&#102;&#111;"><img class="img-responsive"  class="connect" src="assets/images/e-mail.png"  /></a>
<!--            <span >&middot;</span>  -->
<!--        <a href="http://fabiantheblind.info/scripts.html"><img class="img-responsive"  class="connect" src="/assets/images/jsx.png"  /></a>       -->
        <span ></span>
  </div>

        <script type="text/javascript">
    window._idl = {};
    _idl.variant = "modal";
    _idl.campaign = "idl_launch";
    (function() {
        var idl = document.createElement('script');
        idl.type = 'text/javascript';
        idl.async = true;
        idl.src = 'https://members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'banner');
        document.getElementsByTagName('body')[0].appendChild(idl);
    })();
</script>