I had my first programming experience at the FHP with Flash and Quartz Composer. None of them managed to kindle my love for code. But them came Processing. After the first experiments I began to understand the power of programming. While working on layout jobs and after hours and hours clicking my life away I experimented with JavaScript inside Adobe applications. It became the topic of my Bachelor Thesis and is a powerful weapon against repetitive tasks.  
<a href="/codinggraphics.html">Have a look at my favorite programming projects.</a>  

