<!--
this is in image-tiles.html
{% comment %}
needs this:
{% assign spanclass = "span6" %}
{% assign tileclass = "tile big" %}
{% assign addtitle = true %}
{% assign addlink = true %}
{% assign path = page.bigimgpath %}
{% assign off = 0 %}
{% assign maxnum = 5 %}
{% assign list = page.bigimagelist %}
{% assign titles = page.titlelist %}
{% assign links = page.linklist %}
{% assign altattrlist = page.altattrlist %}
{% include image-tiles.html %}
{% endcomment %}
 -->

{% if list != null %}
<div class="row">
{% for item in list limit:maxnum offset:off | array_to_sentence_string %}
<div class="{{ spanclass }}">
{% if addtitle != null %}
  {% if addtitle == true %}
    {% if titles != null %}
  <h5>{{ titles[forloop.index0] }}</h5>
    {% endif %}
  {% endif %}
{% endif %}
<div class="{{ tileclass }}">
{% comment %}
{% if addlink != null %}
  {% if addlink == true %}
    {% if links == null %}
  <a href="{{ path }}{{ item }}">
    {% else %}
  <a href="{{ links[forloop.index0] }}">
    {% endif %}
  {% endif %}
{% endif %}
{% endcomment %}

  <a href="http://vimeo.com/{{ item }}" id="showreellink" rel="prettyPhoto[grouped]" title="">
          <img class="img-responsive"  src="{{path}}{{ tiles[forloop.index0] }}" alt="{{ altattrlist[forloop.index0] }}" />
        </a>


{% comment %}
{% if addlink != null %}
  {% if addlink == true %}
  </a>
{% endif %}
{% endif %}
{% endcomment %}

{% if addsubtext == true %}
{% if subtext != null %}
{% if subtextclass != null%}
<p class="{{ subtextclass }}">
{% else %}
<p class="videosubtext">
{% endif %}
  {{ subtext[forloop.index0] }}
</p>

{% endif %}

{% endif %}
</div>
</div>
{% endfor %}
</div>
{% endif%}
<!-- end three-tiles.html -->