html {
	font-size: 18px;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	max-width: 50em;
	font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
		sans-serif;
	font-weight: normal;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
}
h2 {
	margin-top: 1em;
	padding-top: 1em;
}
h1,
h2,
strong {
	color: #333;
}

code {
	font-size: 0.89rem;
}
/* code,
pre {
background: #eee;
} */

/* code {
padding: 2px 4px;
vertical-align: text-bottom;
} */

/* pre {
padding: 1em;
} */
a {
	color: #ff6347;
}
a:hover {
	color: #a01800;
}
body {
	color: #2d383f;
	background-color: #fdfdfd;
}

/* code,
pre {
background: #f5f7f9;
border-bottom: 1px solid #ff6347;
color: #a7adba;
} */

pre {
	border-left: 2px solid #69c;
}

img {
	width: 100%;
}

[class^="icon-"],
[class*=" icon-"] {
	height: 14px;
	width: 14px;
	display: inline-block;
	fill: #a7adba;
}
