<span id="base-url"></span>
<script>
	const element = document.getElementById("base-url");
	if (element) {
		const { origin } = window.location;
		element.innerHTML = `<a href="${origin}?	designmode=on">${origin}?designmode=on</a>`;
	}
</script>
