<!DOCTYPE html>
<html>
  <head lang="en">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="fabiantheblind.info" />
    <meta name="author" content="fabiantheblind" />
    <title>{{ page.title }}</title>
    <!-- TypeKit -->
    <script type="text/javascript" src="http://use.typekit.com/jdb0zac.js"></script>
    <script type="text/javascript">
    try{Typekit.load();}catch(e){}
    </script>
    <!-- css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"  type="text/css">
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
    <!-- <link rel="stylesheet" href="assets/css/syntax.css" type="text/css" /> -->
    <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/prettyPhoto.css" type="text/css" media="screen" />
    <!-- scripts -->
    <!-- <script type="text/javascript" src="assets/js/modernizr.custom.70055.js"></script> -->
    <script type="text/javascript" src="/assets/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.fittext.js"></script>
    <!-- Google Analytics -->

<script type="text/javascript">
function getBaseURL() {
    var url = location.href;  // entire url including querystring - also: window.location.href;
    var baseURL = url.substring(0, url.indexOf('/', 14));


    if (baseURL.indexOf('http://localhost') != -1) {
        // Base Url for localhost
        var url = location.href;  // window.location.href;
        var pathname = location.pathname;  // window.location.pathname;
        var index1 = url.indexOf(pathname);
        var index2 = url.indexOf("/", index1 + 1);
        var baseLocalUrl = url.substr(0, index2);

        return baseLocalUrl + "/";
    }
    else {
        // Root Url for domain name
        return baseURL + "/";
    }

}

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-49261589-1']);
  _gaq.push(['_setDomainName', getBaseURL()]);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



<link rel="" type="application/atom+xml" title="blog" href="/atom.xml" />
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>

    <!-- scripts -->
    <script type="text/javascript">
    $(document).ready(function(){

      var prettyPhotoSettings = {
        social_tools:'',
        default_width: 1000,
        default_height: 562,
        opacity: 0.95, /* Value between 0 and 1 */
        show_title: false, /* true/false */
        deeplinking: false,
        slideshow: false
      };
       $("a[rel^='prettyPhoto']").prettyPhoto(prettyPhotoSettings);

    });
    </script>
  </body>
</html>