---
layout: newdefault
motionmenuitems:
- Motion Graphics
- Locations
- AEMap
- Tangible Maps
- Monoline Text
- Swissd
codingmenuitems:
- Coding Graphics
- Locations
- AEMap
- Tangible Maps
- Monoline Text
- Swissd
- Typography and Automation
- Incom.org 2 Layout
- This Website
codingmenuurl:
- /codinggraphics.html
- /locations.html
- /aemap.html
- /tangiblemaps.html
- /monoline-text.html
- /swissd.html
- /typography-and-automation.html
- /incom-org-2-layout.html
- /misc.html
motionmenuurl:
- /motiongraphics.html
- /locations.html
- /aemap.html
- /tangiblemaps.html
- /monoline-text.html
- /swissd.html
codingmenuicons:
- /assets/images/thumbnails/codinggrfx-thumb.jpg
- /assets/images/thumbnails/locations-thumb.jpg
- /assets/images/thumbnails/aemap-thumb.jpg
- /assets/images/thumbnails/tmkt-thumb.jpg
- /assets/images/thumbnails/monolinetext-thumb.jpg
- /assets/images/thumbnails/swissd-thumb.jpg
- /assets/images/thumbnails/autotypo-thumb.jpg
- /assets/images/thumbnails/incomorg2layout-thumb.jpg
- /assets/images/thumbnails/misc-thumb.jpg
- /assets/images/thumbnails/bfnr-thumb.jpg
- /assets/images/thumbnails/nodes-thumb.jpg
- /assets/images/thumbnails/obj-thumb.jpg
- /assets/images/thumbnails/uelaerm-thumb.jpg
- /assets/images/thumbnails/voronoi-thumb.jpg
- /assets/images/thumbnails/whihihiggle-thumb.jpg
motionmenuicons:
- /assets/images/thumbnails/motiongrfx-thumb.gif
- /assets/images/thumbnails/locations-thumb.jpg
- /assets/images/thumbnails/aemap-thumb.jpg
- /assets/images/thumbnails/tmkt-thumb.jpg
- /assets/images/thumbnails/monolinetext-thumb.jpg
- /assets/images/thumbnails/swissd-thumb.jpg
- /assets/images/thumbnails/nodes-thumb.jpg
- /assets/images/thumbnails/uelaerm-thumb.jpg
---
<header>
{% include master-header.html %}
</header>
<section>
{{ content }}
</section>
<footer>
{% include master-footer.html %}
</footer>