---
const { title } = Astro.props.frontmatter || Astro.props;
import IconRss from "../components/icon-rss";
import IconHeart from "../components/icon-heart";
import IconGithub from "../components/icon-github";
import IconPinboard from "../components/icon-pinboard";
import IconMail from "../components/icon-mail";
import IconTwitter from "../components/icon-twitter";
import IconVimeo from "../components/icon-vimeo";
import IconBluesky from "../components/icon-bluesky";
import IconMastodon from "../components/icon-mastodon";
import "../styles/global.css";
import "../styles/style.css";
import "../styles/prism-vs.css";
import "../styles/nav.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>ff6347 &#x3E; {title}</title>
		<meta name="description" content="Website of Fabian Morón Zirfas" />
		<meta name="author" content="Fabian Morón Zirfas" />
		<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<!-- <link rel="stylesheet" href="/assets/css/prism-vs.css" type="text/css" /> -->
		<link
			rel="alternate"
			type="application/rss+xml"
			title="RSS feed for fabianmoronzirfas.me"
			href="/rss.xml"
		/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<!-- <style>
			.hamburger-menu {
				display: none;
			}
			.menu-toggle {
				display: none;
			}
			.menu-toggle::before {
				content: "☰"; /* Default icon */
				display: block;
			}
			.hamburger-menu:checked + .menu-toggle::before {
				content: " ⛌"; /* Icon when menu is expanded */
			}



			@media (max-width: 600px) {
				.thumbs {
					flex-direction: column;
				}
				.menu-toggle {
					display: block;
					cursor: pointer;
					/* padding: 10px; */
					/* background-color: #f8f9fa; */
					border: none;
					font-size: 2rem;
				}
				.hamburger-menu:checked + .menu-toggle + ul {
					display: flex;
				}
			}
		</style> -->
		<script
			defer
			is:inline
			src="https://cloud.umami.is/script.js"
			data-website-id="f9bb2b45-11f6-4ce4-b58f-7ffb36da6d0d"></script>
	</head>

	<body>
		<nav>
			<!-- <input type="checkbox" id="hamburger" class="hamburger-menu" /> -->
			<!-- <label for="hamburger" class="menu-toggle"></label> -->
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/education">Education</a></li>
			</ul>
		</nav>
		<h1>{title}</h1>
		<main>
			<slot />
			<!-- your content is injected here -->
		</main>
		<footer>
			<p>
				Build with <a href="http://astro.build/" target="blank">Astro</a>, <a
					>{(<IconHeart />)}</a
				>
				and hosted on <a href="https://www.netlify.com/">Netlify</a>. Take a
				peak into my code projects on <a href="https://github.com/ff6347"
					>{(<IconGithub />)} github</a
				> and read what I read on <a
					href="https://pinboard.in/u:fabianmoronzirfas/"
					>{(<IconPinboard />)} pinboard</a
				>. Write me a <a href="mailto:icke@fabianmoronzirfas.me"
					>{(<IconMail />)} mail</a
				> or ping me on <a href="http://twitter.com/fmoronzirfas"
					>{(<IconTwitter />)} X</a
				> (meh), <a href="https://hachyderm.io/@ff6347"
					>{(<IconMastodon />)} Mastodon</a
				> or <a href="https://bsky.app/profile/ff6347.bsky.social"
					>{(<IconBluesky />)} Bluesky</a
				>. You also can see some of my (oooold) videos on <a
					href="https://vimeo.com/fabianmoronzirfas">{(<IconVimeo />)} vimeo.</a
				> If you want to stay up to date subscribe to the <a href="/rss.xml"
					>{(<IconRss />)} RSS Feed</a
				>. Unless otherwise noted, all content and code is licensed under <a
					href="https://creativecommons.org/licenses/by-nc/4.0/"
					rel="license">CC BY-NC 4.0</a
				>.
			</p>
		</footer>
		<script is:inline>
			const params = new URLSearchParams(window.location.search);
			if (params.has("designmode") && params.get("designmode") === "on") {
				document.designMode = "on";
			}
		</script>
	</body>
</html>
