---
const { title } = Astro.props.frontmatter || Astro.props;
import IconRss from "../components/icon-rss";
import IconHeart from "../components/icon-heart";
import IconGithub from "../components/icon-github";
import IconPinboard from "../components/icon-pinboard";
import IconMail from "../components/icon-mail";
import IconTwitter from "../components/icon-twitter";
import IconVimeo from "../components/icon-vimeo";
import IconBluesky from "../components/icon-bluesky";
import IconMastodon from "../components/icon-mastodon";
import "../../public/assets/css/style.css";
import "../../public/assets/css/prism-vs.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content="Website of Fabian Morón Zirfas" />
		<meta name="author" content="Fabian Morón Zirfas" />
		<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<!-- <link rel="stylesheet" href="/assets/css/prism-vs.css" type="text/css" /> -->
		<link
			rel="alternate"
			type="application/rss+xml"
			title="RSS feed for fabianmoronzirfas.me"
			href="/rss.xml"
		/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<style>
			.hamburger-menu {
				display: none;
			}
			.menu-toggle {
				display: none;
			}
			.menu-toggle::before {
				content: "☰"; /* Default icon */
				display: block;
			}
			.hamburger-menu:checked + .menu-toggle::before {
				content: " ⛌"; /* Icon when menu is expanded */
			}

			nav ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				display: flex;
			}
			nav li {
				margin: 10px;
			}
			nav a {
				text-decoration: none;
				/* color: #333; */
				padding: 5px 10px;
				border-radius: 0px;
				transition: background-color 0.3s;
			}
			nav a:hover {
				background-color: #e9ecef;
			}

			@media (max-width: 600px) {
				.thumbs {
					flex-direction: column;
				}
				.menu-toggle {
					display: block;
					cursor: pointer;
					/* padding: 10px; */
					/* background-color: #f8f9fa; */
					border: none;
					font-size: 2rem;
				}
				nav ul {
					display: none;
					flex-direction: column;
				}
				.hamburger-menu:checked + .menu-toggle + ul {
					display: flex;
				}
			}
		</style>
	</head>

	<body>
		<nav>
			<input type="checkbox" id="hamburger" class="hamburger-menu" />
			<label for="hamburger" class="menu-toggle"></label>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/education">Education</a></li>
			</ul>
		</nav>
		<h1>{title}</h1>
		<article>
			<slot />
			<!-- your content is injected here -->
		</article>
		<footer>
			<p>
				Build with <a href="http://astro.build/" target="blank">Astro</a>, {
					(<IconHeart />)
				} and hosted on <a href="https://www.netlify.com/">Netlify</a>. Take a
				peak into my code projects on <a href="https://github.com/ff6347"
					>{(<IconGithub />)} github</a
				> and read what I read on <a
					href="https://pinboard.in/u:fabianmoronzirfas/"
					>{(<IconPinboard />)} pinboard</a
				>. Write me a <a href="mailto:icke@fabianmoronzirfas.me"
					>{(<IconMail />)} mail</a
				> or ping me on <a href="http://twitter.com/fmoronzirfas"
					>{(<IconTwitter />)} X</a
				> (meh), <a href="https://hachyderm.io/@ff6347"
					>{(<IconMastodon />)} Mastodon</a
				> or <a href="https://bsky.app/profile/ff6347.bsky.social"
					>{(<IconBluesky />)} Bluesky</a
				>. You also can see some of my (oooold) videos on <a
					href="https://vimeo.com/fabianmoronzirfas">{(<IconVimeo />)} vimeo.</a
				> If you want to stay up to date subscribe to the <a href="/rss.xml"
					>{(<IconRss />)} RSS Feed</a
				>
			</p>
		</footer>
	</body>
</html>
